<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <!-- Bootstrap for css -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
</head>
<body>

<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><a href="/" class="navbar-brand">COMP2068 - Book Store</a></li>
    <li><a href="/books">Books</a></li>
      <% if (!user) { %>
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>

  </ul>
    <% }
    else { %>
  <li><a href="/users">Users</a></li>
  <li><a href="/logout">Logout</a></li>
  </ul>
  <div class="navbar-text pull-right">
      <%= user.username %>
  </div>
    <% } %>
</nav>