<% include partials/header.ejs %>

<main class="container">

    <h1>What the ?!</h1>

    <section class="jumbotron">
        The page you requested cannot be found.  Please try one one the links above.
    </section>

</main>

<% include partials/footer.ejs %>