<% include partials/header.ejs %>

<main class="container">

    <h1>We're Sorry</h1>

    <section class="jumbotron">
        Your request could not be completed.  Please try again.
    </section>

</main>

<% include partials/footer.ejs %>