<% include ./partials/header.ejs %>

    <h1><%= title %></h1>

<main class="container">
    <section class="jumbotron">
        This application, built in Winter 2017, uses NodeJs, ExpressJs,
        MongoDB, Mongoose, and Twitter Bootstrap for COMP2068 Advanced Web Programming.  Source files are stored on GitHub.
    </section>
</main>

<% include ./partials/footer.ejs %>
