<% include partials/header.ejs %>

<h1>Users</h1>

<table class="table table-striped table-hover">
    <tr><th>UserName</th><th>UserId</th>

    </tr>

    <% for (var i = 0; i < accounts.length; i++) { %>
    <tr>
        <td><%= accounts[i].username %></td>
        <td><%= accounts[i]._id %></td>
    </tr>
    <% } %>

</table>

<% include partials/footer.ejs %>